<div class="container">
  <h3><%= @list.name %></h3>
  <%= cl_image_tag @list.photo.key, height: 300, crop: :fill %>
</div>
<%= link_to "Add a movie", new_list_bookmark_path(@list) %>


<%= link_to "Back to movie lists", lists_path %>

<% @list.bookmarks.each do |bookmark| %>
  <%= bookmark.comment %>
  <%= bookmark.movie.title %>
<% end %>
